<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('扣量记录列表')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <label>订单编号：</label>
                            <input type="text" name="orderNo"/>
                        </li>
                        <li>
                            <label>代理昵称：
                                <input type="text" name="proxyName"/>
                        </li>
                        <li>
                            <label>用户昵称：</label>
                            <input type="text" name="userName"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="buckle:log:export">
                <i class="fa fa-download"></i> 导出
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('buckle:log:edit')}]];
    var removeFlag = [[${@permission.hasPermi('buckle:log:remove')}]];
    var prefix = ctx + "buckle/log";

    $(function () {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "扣量记录",
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: '编号',
                    visible: false
                },
                {
                    field: 'proxyName',
                    title: '代理名称'
                },
                {
                    field: 'userName',
                    title: '来源用户'
                },
                {
                    field: 'orderNo',
                    title: '订单编号'
                },
                {
                    field: 'cMoney',
                    title: '充值金额'
                },
                {
                    field: 'kMoney',
                    title: '扣量金额'
                },
                {
                    field: 'createTime',
                    title: '创建时间'
                },
                ]
        };
        $.table.init(options);
    });
</script>
</body>
</html>
