<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TAgentBalanceLogMapper">

    <resultMap type="TAgentBalanceLog" id="TAgentBalanceLogResult">
        <result property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="money" column="money"/>
        <result property="orderNo" column="order_no"/>
        <result property="userId" column="user_id"/>
        <result property="proxyId" column="proxy_id"/>
        <result property="status" column="status"/>

        <result property="userName" column="userName"/>
    </resultMap>

    <sql id="selectTAgentBalanceLogVo">
        select id, create_time, update_time, money, order_no, user_id, proxy_id, status from t_agent_balance_log
    </sql>

    <select id="selectTAgentBalanceLogList" parameterType="TAgentBalanceLog" resultType="com.ruoyi.system.params.AgentListVo">
        select g.id,
        g.create_time as createTime,
        g.update_time as updateTime,
        g.money as money,
        g.order_no as orderNo,
        g.user_id as userId,
        g.proxy_id as proxId,
        g.status as status,
        t.user_name as userName,
        a.proxy_nick_name as proxyNickName,
        a.name as name from t_agent_balance_log g
        left join t_user t on t.id = g.user_id
        left join t_agent a on a.id = g.proxy_id
        <where>
            <if test="params.beginMoney != null and params.beginMoney != '' and params.endMoney != null and params.endMoney != ''">
                and g.money between #{params.beginMoney} and #{params.endMoney}
            </if>
            <if test="orderNo != null  and orderNo != ''">and g.order_no like concat('%', #{orderNo}, '%')</if>
            <if test="userName != null  and userName != ''">and t.user_name like concat('%', #{userName}, '%')</if>
            <if test="proxyNickName != null  and proxyNickName != ''">and a.proxy_nick_name like concat('%', #{proxyNickName}, '%')</if>
            <if test="status != null ">and g.status = #{status}</if>
            <if test="proxyId != null ">and g.proxy_id = #{proxyId}</if>
            <if test="userId != null ">and g.user_id = #{userId}</if>
        </where>
    </select>

    <select id="selectTAgentBalanceLogById" parameterType="Long" resultMap="TAgentBalanceLogResult">
        <include refid="selectTAgentBalanceLogVo"/>
        where id = #{id}
    </select>

    <insert id="insertTAgentBalanceLog" parameterType="TAgentBalanceLog" useGeneratedKeys="true" keyProperty="id">
        insert into t_agent_balance_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createTime != null ">create_time,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="money != null ">money,</if>
            <if test="orderNo != null  and orderNo != ''">order_no,</if>
            <if test="userId != null ">user_id,</if>
            <if test="proxyId != null ">proxy_id,</if>
            <if test="status != null ">status,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="money != null ">#{money},</if>
            <if test="orderNo != null  and orderNo != ''">#{orderNo},</if>
            <if test="orderType != null ">#{orderType},</if>
            <if test="userId != null ">#{userId},</if>
            <if test="proxyId != null ">#{proxyId},</if>
            <if test="status != null ">#{status},</if>
        </trim>
    </insert>

    <update id="updateTAgentBalanceLog" parameterType="TAgentBalanceLog">
        update t_agent_balance_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="money != null ">money = #{money},</if>
            <if test="orderNo != null  and orderNo != ''">order_no = #{orderNo},</if>
            <if test="userId != null ">user_id = #{userId},</if>
            <if test="proxyId != null ">proxy_id = #{proxyId},</if>
            <if test="status != null ">status = #{status},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTAgentBalanceLogById" parameterType="Long">
        delete from t_agent_balance_log where id = #{id}
    </delete>

    <delete id="deleteTAgentBalanceLogByIds" parameterType="String">
        delete from t_agent_balance_log where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="topUpDay" resultType="com.ruoyi.system.domain.agent.TAgbaParams">
        (SELECT IFNULL(SUM(money),0) as money, "已支付" as description FROM t_agent_balance_log WHERE TO_DAYS(create_time) = TO_DAYS(NOW()) AND `status`=0)
        UNION ALL
        (SELECT IFNULL(SUM(money),0) as money, "未支付" as description FROM t_agent_balance_log WHERE TO_DAYS(create_time) = TO_DAYS(NOW()) AND `status`=1)
    </select>
    <select id="topUpYesterday" resultType="com.ruoyi.system.domain.agent.TAgbaParams">
       (SELECT IFNULL(SUM(money),0) as money, "已支付" as description FROM t_agent_balance_log WHERE TO_DAYS(NOW()) - TO_DAYS(create_time) = 1 AND `status`=0)
        UNION ALL
        (SELECT IFNULL(SUM(money),0) as money, "未支付" as description FROM t_agent_balance_log WHERE TO_DAYS(NOW()) - TO_DAYS(create_time) = 1 AND `status`=1)

    </select>
    <select id="topUpMonth" resultType="com.ruoyi.system.domain.agent.TAgbaParams">
        (SELECT IFNULL(SUM(money),0) as money, "已支付" as description FROM t_agent_balance_log WHERE DATE_FORMAT(create_time, '%Y%m') = DATE_FORMAT(CURDATE(), '%Y%m') AND`status`=0)
        UNION ALL
        (SELECT IFNULL(SUM(money),0) as money, "未支付" as description FROM t_agent_balance_log WHERE DATE_FORMAT(create_time, '%Y%m') = DATE_FORMAT(CURDATE(), '%Y%m') AND `status`=1)

    </select>
    <select id="topUpTotal" resultType="com.ruoyi.system.domain.agent.TAgbaParams">
        (SELECT IFNULL(SUM(money),0) as money, "已支付" as description FROM t_agent_balance_log WHERE `status`=0)
        UNION ALL
        (SELECT IFNULL(SUM(money),0) as money, "未支付" as description FROM t_agent_balance_log WHERE `status`=1)
    </select>
</mapper>
