<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TBookMapper">

    <resultMap type="TBook" id="TBookResult">
        <result property="id"    column="id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="author"    column="author"    />
        <result property="category"    column="category"    />
        <result property="coverPic"    column="cover_pic"    />
        <result property="detailPic"    column="detail_pic"    />
        <result property="sort"    column="sort"    />
        <result property="status"    column="status"    />
        <result property="summary"    column="summary"    />
        <result property="title"    column="title"    />
    </resultMap>

    <sql id="selectTBookVo">
        select id, create_time, update_time, author, category, cover_pic, detail_pic, sort, status, summary, title from t_book
    </sql>

    <select id="selectTBookList" parameterType="TBook" resultMap="TBookResult">
        <include refid="selectTBookVo"/>
        <where>
            <if test="author != null  and author != ''"> and author like concat('%', #{author}, '%')</if>
            <if test="category != null "> and category = #{category}</if>
            <if test="coverPic != null  and coverPic != ''"> and cover_pic = #{coverPic}</if>
            <if test="detailPic != null  and detailPic != ''"> and detail_pic = #{detailPic}</if>
            <if test="sort != null "> and sort = #{sort}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="summary != null  and summary != ''"> and summary = #{summary}</if>
            <if test="title != null  and title != ''"> and title like concat('%', #{title}, '%')</if>
        </where>
    </select>

    <select id="selectTBookById" parameterType="Long" resultMap="TBookResult">
        <include refid="selectTBookVo"/>
        where id = #{id}
    </select>

    <insert id="insertTBook" parameterType="TBook" useGeneratedKeys="true" keyProperty="id">
        insert into t_book
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createTime != null ">create_time,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="author != null  and author != ''">author,</if>
            <if test="category != null">category,</if>
            <if test="coverPic != null  and coverPic != ''">cover_pic,</if>
            <if test="detailPic != null  and detailPic != ''">detail_pic,</if>
            <if test="sort != null ">sort,</if>
            <if test="status != null ">status,</if>
            <if test="summary != null  and summary != ''">summary,</if>
            <if test="title != null  and title != ''">title,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="author != null  and author != ''">#{author},</if>
            <if test="category != null ">#{category},</if>
            <if test="coverPic != null  and coverPic != ''">#{coverPic},</if>
            <if test="detailPic != null  and detailPic != ''">#{detailPic},</if>
            <if test="sort != null ">#{sort},</if>
            <if test="status != null">#{status},</if>
            <if test="summary != null  and summary != ''">#{summary},</if>
            <if test="title != null  and title != ''">#{title},</if>
        </trim>
    </insert>

    <update id="updateTBook" parameterType="TBook">
        update t_book
        <trim prefix="SET" suffixOverrides=",">
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="author != null  and author != ''">author = #{author},</if>
            <if test="category != null ">category = #{category},</if>
            <if test="coverPic != null  and coverPic != ''">cover_pic = #{coverPic},</if>
            <if test="detailPic != null  and detailPic != ''">detail_pic = #{detailPic},</if>
            <if test="sort != null ">sort = #{sort},</if>
            <if test="status != null ">status = #{status},</if>
            <if test="summary != null  and summary != ''">summary = #{summary},</if>
            <if test="title != null  and title != ''">title = #{title},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTBookById" parameterType="Long">
        delete from t_book where id = #{id}
    </delete>

    <delete id="deleteTBookByIds" parameterType="String">
        delete from t_book where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>