<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TNoticeMapper">
    
    <resultMap type="TNotice" id="TNoticeResult">
        <result property="id"    column="id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="content"    column="content"    />
        <result property="title"    column="title"    />
    </resultMap>

    <sql id="selectTNoticeVo">
        select id, create_time, update_time, content, title from t_notice
    </sql>

    <select id="selectTNoticeList" parameterType="TNotice" resultMap="TNoticeResult">
        <include refid="selectTNoticeVo"/>
        <where>  
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="title != null  and title != ''"> and title = #{title}</if>
        </where>
    </select>
    
    <select id="selectTNoticeById" parameterType="Long" resultMap="TNoticeResult">
        <include refid="selectTNoticeVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTNotice" parameterType="TNotice" useGeneratedKeys="true" keyProperty="id">
        insert into t_notice
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createTime != null ">create_time,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="content != null  and content != ''">content,</if>
            <if test="title != null  and title != ''">title,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="content != null  and content != ''">#{content},</if>
            <if test="title != null  and title != ''">#{title},</if>
         </trim>
    </insert>

    <update id="updateTNotice" parameterType="TNotice">
        update t_notice
        <trim prefix="SET" suffixOverrides=",">
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="content != null  and content != ''">content = #{content},</if>
            <if test="title != null  and title != ''">title = #{title},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTNoticeById" parameterType="Long">
        delete from t_notice where id = #{id}
    </delete>

    <delete id="deleteTNoticeByIds" parameterType="String">
        delete from t_notice where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>