<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增分销配置')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-store-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label">分成模式：</label>
                <div class="col-sm-8">
                    <select name="divided" class="form-control m-b">
                        <option value="">所有</option>
                    </select>
                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 代码生成请选择字典属性</span>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">一级分销名称：</label>
                <div class="col-sm-8">
                    <input name="levelOne" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">一级分销比例：</label>
                <div class="col-sm-8">
                    <input name="levelOneScale" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">三级分销名称：</label>
                <div class="col-sm-8">
                    <input name="levelThree" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">三级分销比例：</label>
                <div class="col-sm-8">
                    <input name="levelThreeScale" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">二级分销名称：</label>
                <div class="col-sm-8">
                    <input name="levelTwo" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">二级分销比例：</label>
                <div class="col-sm-8">
                    <input name="levelTwoScale" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">分销名称：</label>
                <div class="col-sm-8">
                    <input name="retailStoreName" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "system/store"
        $("#form-store-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-store-add').serialize());
            }
        }
    </script>
</body>
</html>