<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('代理列表')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <label>代理昵称：</label>
                            <input type="text" name="proxyNickName"/>
                        </li>
                        <li>
                            <label>审核状态：</label>
                            <select name="status" th:with="type=${@dict.getType('sys_common_status')}">
                                <option value="">所有</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                        th:value="${dict.dictValue}"></option>
                            </select>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="business:agent:add">
                <i class="fa fa-plus"></i> 添加
            </a>
            <a class="btn btn-primary single disabled" onclick="$.operate.edit()"
               shiro:hasPermission="business:agent:edit">
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()"
               shiro:hasPermission="business:agent:remove">
                <i class="fa fa-remove"></i> 删除
            </a>
            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="business:agent:export">
                <i class="fa fa-download"></i> 导出
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    var listFlag = [[${@permission.hasPermi('business:agent:list')}]];
    var editFlag = [[${@permission.hasPermi('business:agent:edit')}]];
    var removeFlag = [[${@permission.hasPermi('business:agent:remove')}]];
    var statusDatas = [[${@dict.getType('sys_common_status')}]];
    var prefix = ctx + "business/agent";

    $(function () {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "代理",
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: '编号',
                    visible: false
                }, {
                    field: 'proxyNickName',
                    title: '代理昵称'
                },
                {
                    field: 'gqrCode',
                    title: '推广二维码'
                },
                {
                    field: 'separate',
                    title: '返佣比例'
                },
                {
                    field: 'balance',
                    title: '余额'
                },
                {
                    field: 'status',
                    title: '审核状态',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(statusDatas, value);
                    }
                },
                {
                    field: 'createTime',
                    title: '创建时间'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-info btn-xs ' + listFlag + '" href="javascript:void(0)" onclick="changeMoney(\'' + row.id + '\')"><i class="fa fa-list-ul"></i>充值记录</a> ');
                        actions.push('<a class="btn btn-info btn-xs ' + listFlag + '" href="javascript:void(0)" onclick="klMoney(\'' + row.id + '\')"><i class="fa fa-list-ul"></i>扣量记录</a> ');
                        actions.push('<a class="btn btn-info btn-xs ' + listFlag + '" href="javascript:void(0)" onclick="fcMoney(\'' + row.id + '\')"><i class="fa fa-list-ul"></i>分成记录</a> ');
                        actions.push('<a class="btn btn-info btn-xs ' + listFlag + '" href="javascript:void(0)" onclick="changeMoney(\'' + row.id + '\')"><i class="fa fa-list-ul"></i>提现记录</a> ');
                        /*actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        */
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });

    /*用户充值记录*/
    function changeMoney(id) {
        var url = "/agent/balance/log?id=" + id;
        $.modal.openTab("充值记录", url);
    }

    /*用户扣量记录*/
    function klMoney(id) {
        var url = "/buckle/log?id=" + id;
        $.modal.openTab("扣量记录", url);
    }

    /*用户分成记录*/
    function fcMoney(id) {
        var url = "/share/log?id=" + id;
        $.modal.openTab("分成记录", url);
    }

    /*用户提现记录*/
    function txMoney(id) {
        var url = "/agent/balance/log?id=" + id;
        $.modal.openTab("提现记录", url);
    }
</script>
</body>
</html>
