<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('用户充值，提现列表')" />
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li class="select-time">
                            <label>创建时间：</label>
                            <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginCreateTime]"/>
                            <span>-</span>
                            <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endCreateTime]"/>
                        </li>
                        <li>
                            <label>用户名称：</label>
                            <input type="text" name="userName"/>
                        </li>
                        <li class="select-time">
                            <label>订单金额：</label>
                            <input type="text" class="input" id="beginOrderFee" placeholder="开始金额" name="params[beginOrderFee]"/>
                            <span>-</span>
                            <input type="text" class="input" id="endOrderFee" placeholder="结束金额" name="params[endOrderFee]"/>
                        </li>
                        <li>
                            <label>订单号：</label>
                            <input type="text" name="orderNo"/>
                        </li>
                        <li>
                            <label>订单类型：</label>
                            <select name="orderType" th:with="type=${@dict.getType('t_order_type')}">
                                <option value="">所有</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                            </select>
                        </li>
<!--                        <li>-->
<!--                            <label>状态：</label>-->
<!--                            <select name="status" th:with="type=${@dict.getType('t_withdrawal_status')}">-->
<!--                                <option value="">所有</option>-->
<!--                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>-->
<!--                            </select>-->
<!--                        </li>-->
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i> 搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i> 重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:log:export">
                <i class="fa fa-download"></i> 导出
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer" />
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('system:log:edit')}]];
    var removeFlag = [[${@permission.hasPermi('system:log:remove')}]];
    var orderTypeDatas = [[${@dict.getType('t_order_type')}]];
    var statusDatas = [[${@dict.getType('t_withdrawal_status')}]];
    var prefix = ctx + "balance/log";

    $(function() {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "用户充值，提现",
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: '编号',
                    visible: false
                },
                {
                    field: 'userId',
                    title: '用户编号'
                },
                {
                    field: 'userName',
                    title: '用户名称'
                },
                {
                    field: 'orderNo',
                    title: '订单号'
                },
                {
                    field: 'orderFee',
                    title: '订单金额'
                },
                {
                    field: 'orderType',
                    title: '订单类型',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(orderTypeDatas, value);
                    }
                },
                // {
                //     field: 'status',
                //     title: '状态',
                //     formatter: function(value, row, index) {
                //         return $.table.selectDictLabel(statusDatas, value);
                //     }
                // },
                {
                    field: 'createTime',
                    title: '创建时间'
                },
                ]
        };
        $.table.init(options);
    });
</script>
</body>
</html>
